<h1>Consent Reminder</h1>
<p>This is a reminder that parental consent is still needed for <strong><%= @student.name %></strong> to use GrewMe.</p>
<p>Without your consent, we cannot collect or display any learning data for your child.</p>
<p>
  <a href="<%= @accept_url %>">Grant Consent</a> |
  <a href="<%= @decline_url %>">Decline</a>
</p>
<p>This consent request will expire soon. Please respond at your earliest convenience.</p>
